# Steam Web API Key
# Obtenha em: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=

# MongoDB Ports
MONGODB_DEV_PORT=27017
MONGODB_PROD_PORT=27018

# Database URLs
# Dev: mongodb://mongodb_dev:27017/platone_dev
# Prod: mongodb://mongodb_prod:27017/platone_prod
DATABASE_URL=

# URL pública da aplicação (usada no callback OpenID da Steam)
APP_BASE_URL=http://localhost:3005